<div class="<%= class_name %>">
  <span class="article-date-link icon-calendar" data-aos="<%= theme.animation.options.article.date %>">
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, "YYYY-MM-DD HH:mm:ss") %></time>
    <time style="display: none;" id="post-update-time"><%= date(post.updated, "YYYY-MM-DD HH:mm:ss") %></time>
  </span>
  <%_ if (theme.show_update_time) { _%>
    <span class="article-date-link icon-calendar-plus" data-aos="<%= theme.animation.options.article.date %>">
      <time datetime="<%= date_xml(post.updated) %>" itemprop="dateModified"><%= date(post.updated, "YYYY-MM-DD HH:mm:ss") %></time>
    </span>
  <%_ } _%>
</div>
